# raw_input()
raw_input() is a built-in function in Python 2 used to read input from the user as a string, regardless of what the user types.
- It is used to safely take user input without evaluating it as code
- It always returns a string
# input()
- input() evaluates the input as Python code.
- This can be unsafe if the user enters harmful code.
- It does not evaluate the input.
- It always returns the input as a string.

In [2]:
# Example for raw_input()
name = raw_input("Enter your name: ")
print('Hello',name) # It cannot give output because these is python 3
#In python 3 raw_input() data will not give the output

NameError: name 'raw_input' is not defined

In [3]:
#Example for input()
x = input("Enter a number: ")
print(type(x))

Enter a number:  6

<class 'str'>

In [5]:
#If we take same example of python 2 code in python 3
name = input("Enter your name: ")
print('Hello',name)

Enter your name:  saif

Hello saif

In [6]:
#Another example 
age = int(input("Enter your age: "))
print("You will be", age + 1, "next year.")

Enter your age:  21

You will be 22 next year.

In [9]:
# Write a program to read Employee data from the keyboard and print that data.
eno=int(input("Enter Employee No:"))
ename=input("Enter Employee Name:")
esal=float(input("Enter Employee Salary:"))
eaddr=input("Enter Employee Address:")
married=bool(input("Employee Married ?[True|False]:"))
print("Please Confirm your provided Information")
print("Employee No :",eno)
print("Employee Name :",ename)
print("Employee Salary :",esal)
print("Employee Address :",eaddr)
print("Employee Married ? :",married)

Enter Employee No: 3183
Enter Employee Name: Shaik Saifulla
Enter Employee Salary: 65000
Enter Employee Address: hyd
Employee Married ?[True|False]: True

Please Confirm your provided Information
Employee No : 3183
Employee Name : Shaik Saifulla
Employee Salary : 65000.0
Employee Address : hyd
Employee Married ? : True

In [10]:
#Example using eval instead of bool
eno=int(input("Enter Employee No:"))
ename=input("Enter Employee Name:")
esal=float(input("Enter Employee Salary:"))
eaddr=input("Enter Employee Address:")
married=eval(input("Employee Married ?[True|False]:")) #here it cannot give wrong output
print("Please Confirm your provided Information")
print("Employee No :",eno)
print("Employee Name :",ename)
print("Employee Salary :",esal)
print("Employee Address :",eaddr)
print("Employee Married ? :",married)

Enter Employee No: 3183
Enter Employee Name: Shaik Saifulla
Enter Employee Salary: 65000
Enter Employee Address: Hyd
Employee Married ?[True|False]: False

Please Confirm your provided Information
Employee No : 3183
Employee Name : Shaik Saifulla
Employee Salary : 65000.0
Employee Address : Hyd
Employee Married ? : False

In [11]:
# Reading Multiple values from the keybroad in single line
a,b= [int(x) for x in input("Enter 2 numbers :").split()]
#We can call it is List comprehension
print("The Sum is :", a + b)
#Why we used .split()?
# By using .spilt() it can divide the values from the input statement

Enter 2 numbers : 20 30

The Sum is : 50

# Output Statements: 'print()' function
- The print() statement is used to display the output like(variables, numbers, text, results,etc..) on the screen
- There multiple forms are there related to print() function

In [12]:
# Printing without argument
print("saif")
print()  # It gives us space # If we do not use it can print without any line gape
print("sohail")

saif

sohail

In [14]:
# Printing with a string argument
print("SAIFULLA")
# we can use operators also like ( '*' , '+' )
print("Saif"*5)
print("saif"+"saif")

SAIFULLA
SaifSaifSaifSaifSaif
saifsaif

In [15]:
#printing variable number of arguments
a,b,c = 10,20,30
print("The values are:",a,b,c)

The values are: 10 20 30

In [16]:
# Seperator attribute
# Separator is used as 'sep'
# By using of this we can seperate the values in output
a,b,c=10,20,30
print(a,b,c) 
print(a,b,c,sep=',') 
print(a,b,c,sep=':') 
print(a,b,c,sep='-')

10 20 30
10,20,30
10:20:30
10-20-30

In [18]:
# end attribute
# If we want output in the same line then we have to use end attribute
print("saif",end=' ')
print("sohail",end=' ')
print("sadik",end=' ')

saif sohail sadik

#  Replacement Operator ({ })
Replacement operator is used to replace a value to a structure

In [19]:
#Example 
a,b,c,d = 10,20,30,40
print('a = {},b = {},c = {},d = {}'.format(a,b,c,d))

a = 10,b = 20,c = 30,d = 40