# Replacing a string with another string
- here we replace a string with another string in python
- Using a library function replace()
# Syntax
s.replace(oldstring,newstring)

In [1]:
# Example
s = "Saifulla is a bad boy"
x = s.replace('bad','good')
print(x)

Saifulla is a good boy

In [3]:
# Example 2
#It can replace every occurence in the string
s = 'ababbaabbbabbbbbbaaaababa'
x = s.replace('a','b')
print(x)

bbbbbbbbbbbbbbbbbbbbbbbbb

In [6]:
# How can we replace the string 'difficult' with 'easy' and 'easy' with 'difficultâ€˜? 
s = 'Python is easy but Java is difficult' 
s = s.replace('difficult','easy') 
s = s.replace('easy','difficult')
print(s) #here in these cases we cannot change the strings

Python is difficult but Java is difficult

# Splitting of Strings
There are 2 methods for splitting
1. We can split the given string according to specified separator by using split() method.
2. We can split the given string according to specified separator in reverse direction by using rsplit() method.
# Syntax
      l=s.split(seperator, Maximum splits) 
Here,  
- Both parameters are optional 
- The default separator is space.  
- Maximum split defines maximum number of splits 
- The return type of split() method is List.

In [9]:
s="22-04-2020" 
l=s.split('-') 
for x in l: 
    print(x)

22
04
2020

In [10]:
s = "SAIFULLA SOHAIL ROSHAN SADIK"
l=s.split()
for x in l:
    print(x)

SAIFULLA
SOHAIL
ROSHAN
SADIK

In [12]:
# Example
s = 'saifulla sohail sadik nandyal india' 
l=s.rsplit(' ',3)    
for x in l:              # Did not understand the concept
    print(x)

saifulla sohail
sadik
nandyal
india

In [13]:
# Example
s = '10,20,30,40,50,60,70,80' 
l = s.split(',',3) 
for x in l: 
    print(x)

10
20
30
40,50,60,70,80

In [15]:
#Example
s = '10,20,30,40,50,60,70,80' 
l = s.rsplit(',',3)            #Did not understand
for x in l: 
    print(x)

10,20,30,40,50
60
70
80

# Joining of Strings
here we can join a group of strings(list or tuple) with respect to the given seperator
# Syntax
  s = seperator.join(group of strings)

In [16]:
# Example
s = ('saif','asma','sohail')
r = '-'.join(s)
print(r)

saif-asma-sohail

In [17]:
# Example
s = ('saif','asma','sohail')
r = ':'.join(s)
print(r)

saif:asma:sohail

In [18]:
# Example
s = ('saif','asma','sohail')
r = ''.join(s)
print(r)

saifasmasohail

In [19]:
# Example
s = ('saif','asma','sohail')
r = '   '.join(s)
print(r)

saif   asma   sohail

# changing case of string
here we can change case of a string by using the following methods
1. upper()
   To convert all characters to upper case
2. lower()
   To convert all characters to lower case
3. swapcase()
   It converts converts all lower case characters to upper case and all upper case characters to lower case
4. title()
   To convert all characters to title case. i.e., first character in every  word should be upper case and all remaining characters should be in lower case.
5. capitalize()
   Only first character will be converted to upper case and all remaining characters can be converted to lower case.

In [20]:
s = 'my name is Shaik Saifulla'
print(s.upper())   
print(s.lower())   
print(s.swapcase())  
print(s.title())    
print(s.capitalize())

MY NAME IS SHAIK SAIFULLA
my name is shaik saifulla
MY NAME IS sHAIK sAIFULLA
My Name Is Shaik Saifulla
My name is shaik saifulla

In [21]:
s='Learning Python Is Very Easy' 
s = s.lower().replace(' ','') 
print(s)

learningpythonisveryeasy

In [22]:
# Above example with join() & split() functions 
s='Learning Python Is Very Easy' 
s = s.lower() 
s1 = s.split() 
s = ''.join(s1) 
print(s)

learningpythonisveryeasy

# Checking starting and ending part of the string
In Python it contains the following methods for this purpose 
1. s.startswith(substring) 
2. s.endswith(substring)

In [23]:
# Example
s='learning Python is very easy' 
print(s.startswith('learning'))  
print(s.endswith('learning'))  
print(s.endswith('easy'))

True
False
True

# Checking the characters present in a string
- Python contains the following methods for this purpose
1. isalnum(): Returns True if all characters are alphanumeric( a to z , A to Z ,0 to9 )
2. isalpha(): Returns True if all characters are only alphabet symbols(a to z , A to Z)
3. isdigit(): Returns True if all characters are digits only( 0 to 9)
4. islower(): Returns True if all characters are lower case alphabet symbols
5. isupper(): Returns True if all characters are upper case alphabet symbols
6. istitle(): Returns True if string is in title case
7. isspace(): Returns True if string contains only spaces

In [25]:
print('Saifulla3183'.isalnum())     
print('Saifulla3183'.isalpha())     
print('Saifulla'.isalpha())        
print('Saifulla'.isdigit())        
print('223183'.isdigit())        
print('abc'.islower())         
print('Abc'.islower())         
print('abc123'.islower())        
print('ABC'.isupper())         
print('Saifulla is a Good Boy'.istitle())    
print('Learning Python Is Easy'.istitle())    
print('         '.isspace())

True
False
True
False
True
True
False
True
True
False
True
True

In [31]:
s=input("Enter any character:") 
if s.isalnum(): 
    print("Alpha Numeric Character") 
    if s.isalpha(): 
        print("Alphabet character") 
        if s.islower(): 
            print("Lower case alphabet character") 
        else: 
            print("Upper case alphabet character")
    else: 
        print("it is a digit") 
elif s.isspace(): 
    print("It is space character") 
else: 
    print("Non Space Special Character")

Enter any character: Saif

Alpha Numeric Character
Alphabet character
Upper case alphabet character

In [32]:
s=input("Enter any character:") 
if s.isalnum(): 
    print("Alpha Numeric Character") 
    if s.isalpha(): 
        print("Alphabet character") 
        if s.islower(): 
            print("Lower case alphabet character") 
        else: 
            print("Upper case alphabet character")
    else: 
        print("it is a digit") 
elif s.isspace(): 
    print("It is space character") 
else: 
    print("Non Space Special Character")

Enter any character: saif

Alpha Numeric Character
Alphabet character
Lower case alphabet character

In [33]:
s=input("Enter any character:") 
if s.isalnum(): 
    print("Alpha Numeric Character") 
    if s.isalpha(): 
        print("Alphabet character") 
        if s.islower(): 
            print("Lower case alphabet character") 
        else: 
            print("Upper case alphabet character")
    else: 
        print("it is a digit") 
elif s.isspace(): 
    print("It is space character") 
else: 
    print("Non Space Special Character")

Enter any character: 5

Alpha Numeric Character
it is a digit

In [34]:
s=input("Enter any character:") 
if s.isalnum(): 
    print("Alpha Numeric Character") 
    if s.isalpha(): 
        print("Alphabet character") 
        if s.islower(): 
            print("Lower case alphabet character") 
        else: 
            print("Upper case alphabet character")
    else: 
        print("it is a digit") 
elif s.isspace(): 
    print("It is space character") 
else: 
    print("Non Space Special Character")

Enter any character: @

Non Space Special Character

# Formatting the Strings
String formatting means inserting or embedding variables or values into strings in a structured and readable way

In [35]:
# Example
name = "Saif"
age = 21
print(f"My name is {name} and I am {age} years old.")

My name is Saif and I am 21 years old.

In [36]:
# Example
name = 'sohail'
age = 24
print(f"My name is {name} and I am {age} years old")

My name is sohail and I am 24 years old